<div class="article-item">
	<div class="article-preview">
		<div class="img-wrapper">
			<img src="/img/misc/blog-article-main.jpg">
		</div>
	</div>
	<div class="article-date">
		20 декабря 2016
	</div>
	<div class="article-title">
		Выдворение из России за то, что не оплачен патент на работу
	</div>
	<div class="article-lead_text">
		Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку asd ads
	</div>
	<div class="article-btn_wrapper">
		<a href="#" class="read-more">Подробнее</a>
	</div>
</div>