<div class="container">
	<div class="about-block">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8">
				<div class="about">
					<h1 class="about-title title">О компании</h1>
					<div class="about-description">
						<p>Наша основная цель: добиться результата с наименьшими тратами. Мы всегда работаем по предоплате, всегда заключаем договор с клиентом, у нас все чисто и прозрачно.</p>
						<p>Наша основная цель: добиться результата с наименьшими тратами. Мы всегда работаем по предоплате, всегда заключаем договор с клиентом, у нас все чисто и прозрачно.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="feedback">
					<div class="form-wrapper">
						<div class="form-title title">
							Напишите нам
						</div>
						<div class="form">
							<div class="input-group">
								<div class="field-wrapper">
									<input class="field_name field_required" type="text">
									<div class="placeholder">Имя<span class="required">*</span></div>
									<div class="errorMessage"></div>
								</div>
								<div class="field-wrapper">
									<input class="field_email field_required" type="text">
									<div class="placeholder">Email<span class="required">*</span></div>
									<div class="errorMessage"></div>
								</div>
								<div class="field-wrapper">
									<input class="field_phone" type="text">
									<div class="placeholder">Телефон</div>
									<div class="errorMessage"></div>
								</div>
							</div>
							<div class="btn-wrapper">
								<a href="#" class="js-submit link_next">ОТПРАВИТЬ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="recom-block" id="recommendation-block">
		<h2 class="title recom-block-title">
			Нас рекомендуют
		</h2>
		<div class="recom-list">
			<div class="recom-item">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class="img-wrapper recom-letter">
							<img src="/img/misc/letter.jpg">
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-8">
						<a href="/service_page.html" class="recom-link">
							<div class="recom-info">
								<p class="recom-date">20 декабря 2016</p>
								<p class="recom-divider"></p>
								<p class="recom-author">Кочин Александр, Генеральный директор компании «Стройплюс»</p>
							</div>
							<div class="recom-title h3">Штраф ФМС</div>
							<div class="recom-description">
								<p>ФМС назначила штраф 800 000 рублей. Даже для строительной компании – это неподъемная сумма. Планировали закрываться. Рады, что нашелся грамотный миграционный юрист, который снизил штраф в разы. Спасибо, Дело Чести!</p>
								<p>Работал без патента, и как итог – выдворение. В России семья, учеба. Избежать выдворения, и отделаться только штрафом помогли специалисты Миграционной Компании. Остался в РФ, закон не нарушаю.</p>
								<p>Запрет на въезд в РФ означал лишение дела всей моей жизни – преподавания. Риск был велик. О запрете на въезд я узнал, будучи в США. Нашел Миграционную компанию через google. Спасибо вам, ребята! Я уже в России.</p>
							</div>
						</a>
						<div class="img-list img-list-popup">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="img-wrapper js-popup">
                                        <img class="carousel-item" src="/img/misc/blog-article-docs.jpg" data-source="/img/misc/blog-article-docs.jpg" data-index="0">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="img-wrapper js-popup">
                                        <img class="carousel-item" src="/img/misc/blog-article-docs.jpg" data-source="/img/misc/blog-article-docs.jpg" data-index="1">
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<div class="recom-item">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class="img-wrapper recom-letter">
							<img src="/img/misc/letter.jpg">
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-8">
						<a href="/service_page.html" class="recom-link">
							<div class="recom-info">
								<p class="recom-date">20 декабря 2016</p>
								<p class="recom-divider"></p>
								<p class="recom-author">Кочин Александр, Генеральный директор компании «Стройплюс»</p>
							</div>
							<div class="recom-title h3">Штраф ФМС</div>
							<div class="recom-description">
								<p>ФМС назначила штраф 800 000 рублей. Даже для строительной компании – это неподъемная сумма. Планировали закрываться. Рады, что нашелся грамотный миграционный юрист, который снизил штраф в разы. Спасибо, Дело Чести!</p>
								<p>Работал без патента, и как итог – выдворение. В России семья, учеба. Избежать выдворения, и отделаться только штрафом помогли специалисты Миграционной Компании. Остался в РФ, закон не нарушаю.</p>
								<p>Запрет на въезд в РФ означал лишение дела всей моей жизни – преподавания. Риск был велик. О запрете на въезд я узнал, будучи в США. Нашел Миграционную компанию через google. Спасибо вам, ребята! Я уже в России.</p>
							</div>
						</a>
						<div class="img-list img-list-popup">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="img-wrapper js-popup">
                                        <img class="carousel-item" src="/img/misc/blog-article-docs.jpg" data-source="/img/misc/blog-article-docs.jpg" data-index="0">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="img-wrapper js-popup">
                                        <img class="carousel-item" src="/img/misc/blog-article-docs.jpg" data-source="/img/misc/blog-article-docs.jpg" data-index="1">
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>