<div class="container article-full">
	<div class="row article-intro">
		<div class="col-xs-12 col-sm-6">
			<div class="img-wrapper article-img">
				<img src="/img/misc/blog-article-main.jpg">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h1 class="article-title title">Постановление об отмене административного выдворения отменено</h1>
			<div class="article-info">
				<p class="article-date">20 декабря 2016</p>
				<p class="article-comments">
					<img src="/img/icons/comments.svg">
					<span class="count">13</span>
				</p>
				<p class="article-views">
					<img src="/img/icons/views.svg">
					<span class="count">123</span>
				</p>
			</div>
		</div>
	</div>
	<div class="row article-body">
		<div class="col-xs-12">
			<div class="article-description">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rerum nesciunt aperiam eveniet voluptas sit modi tenetur minus voluptates nihil, dolore impedit, facilis sapiente omnis labore dolorem deleniti blanditiis nobis?</p>
				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, rerum!</p>
				<div class="img-list">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<div class="img-wrapper">
								<img src="/img/misc/blog-article-img.jpg">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<div class="img-wrapper">
								<img src="/img/misc/blog-article-img.jpg">
							</div>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, rerum!</p>
				<div class="img-list img-list-popup">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<div class="img-wrapper js-popup">
								<img class="carousel-item" src="/img/misc/blog-article-docs.jpg" data-source="/img/misc/blog-article-docs-source.jpg" data-index="0">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<div class="img-wrapper js-popup">
								<img class="carousel-item" src="/img/misc/blog-article-docs.jpg" data-source="/img/misc/blog-article-docs-source.jpg" data-index="1">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<div class="img-wrapper js-popup">
								<img class="carousel-item" src="/img/misc/blog-article-docs.jpg" data-source="/img/misc/blog-article-docs-source.jpg" data-index="2">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>