<div class="container">
	<div class="articles_list-block">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="title article-block-title">
					Блог
				</h2>
				<div class="article-list blog_list">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<a href="/article.html" class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="/img/misc/blog-article-main.jpg">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку asd ads
								</div>
								<div class="article-btn_wrapper">
									<span class="link_next">Подробнее</span>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<a href="/article.html" class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="/img/misc/blog-article-main.jpg">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку asd ads
								</div>
								<div class="article-btn_wrapper">
									<span class="link_next">Подробнее</span>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<a href="/article.html" class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="/img/misc/blog-article-main.jpg">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку asd ads
								</div>
								<div class="article-btn_wrapper">
									<span class="link_next">Подробнее</span>
								</div>
							</a>
						</div>

						<div class="col-xs-12 col-sm-6 col-lg-4">
							<a href="/article.html" class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="/img/misc/blog-article-main.jpg">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку asd ads
								</div>
								<div class="article-btn_wrapper">
									<span class="link_next">Подробнее</span>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<a href="/article.html" class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="/img/misc/blog-article-main.jpg">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку asd ads
								</div>
								<div class="article-btn_wrapper">
									<span class="link_next">Подробнее</span>
								</div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-4">
							<a href="/article.html" class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="/img/misc/blog-article-main.jpg">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку asd ads
								</div>
								<div class="article-btn_wrapper">
									<span class="link_next">Подробнее</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>