<div class="container">
	<div class="articles_list-block">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="title article-block-title">
					Успешные дела
				</h2>
				<div class="article-list">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="https://api.fnkr.net/testimg/280x180/00CED1/FFF/?text=img+placeholder">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку
								</div>
								<div class="article-btn_wrapper">
									<a href="#" class="read-more">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="https://api.fnkr.net/testimg/280x180/00CED1/FFF/?text=img+placeholder">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядкуasd sd
								</div>
								<div class="article-btn_wrapper">
									<a href="#" class="read-more">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="https://api.fnkr.net/testimg/280x180/00CED1/FFF/?text=img+placeholder">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядкуasd sd
								</div>
								<div class="article-btn_wrapper">
									<a href="#" class="read-more">Подробнее</a>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4">
							<div class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="https://api.fnkr.net/testimg/280x180/00CED1/FFF/?text=img+placeholder">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядку
								</div>
								<div class="article-btn_wrapper">
									<a href="#" class="read-more">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="https://api.fnkr.net/testimg/280x180/00CED1/FFF/?text=img+placeholder">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядкуasd sd
								</div>
								<div class="article-btn_wrapper">
									<a href="#" class="read-more">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<div class="article-item">
								<div class="article-preview">
									<div class="img-wrapper">
										<img src="https://api.fnkr.net/testimg/280x180/00CED1/FFF/?text=img+placeholder">
									</div>
								</div>
								<div class="article-date">
									20 декабря 2016
								</div>
								<div class="article-title">
									Выдворение из России за то, что не оплачен патент на работу
								</div>
								<div class="article-lead_text">
									Да, такая санкция имеет место быть, если Вы действительно не оплачивали патент. Объясняем все по порядкуasd sd
								</div>
								<div class="article-btn_wrapper">
									<a href="#" class="read-more">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>