<div class="container contact-header">
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<h1 class="title">Контакты</h1>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 phone">
			+7 (495) 812-11-88
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 site">
			<a class="mail_link" href="mailto:test@test.com">hello@delo4.com</a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 address">
			Москва, Лесная 3, офис 101
		</div>
	</div>
</div>

<div class="map-wrapper">
	<div id="map"></div>
</div>