<div class="container contact-header">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="title">Контакты</h1>
		</div>
		<div class="col-xs-12 col-sm-4 phone">
			<a href="skype:+74958121188?call">+7 (495) 812-11-88</a>
		</div>
		<div class="col-xs-12 col-sm-4 site">
			<a class="mail_link" href="mailto:hello@delo4.com">hello@delo4.com</a>
		</div>
		<div class="col-xs-12 col-sm-4 address">
			Москва, Лесная 3, офис 101
		</div>
	</div>
</div>

<div class="map-wrapper">
	<div id="map"></div>
</div>