<div class="main_slider">
	<div class="slider_list">
		<div class="slider_bg_list">
			<div class="bg bg-img-1 current" style="background-image:: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #dbece5); background-image: url('/img/bg-images/bg-main.png')">
				<div class="container">
					<a href="#" class="js-switchSlide main_slider_navigation left hide" data-index="3"></a>
					<a href="#" class="js-switchSlide main_slider_navigation right" data-index="2"></a>
				</div>
			</div>
			<div class="bg bg-img-2" style="background-image:: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #dbece5); background-image: url('/img/bg-images/bg-main.png')">
				<div class="container">
					<a href="#" class="js-switchSlide main_slider_navigation left" data-index="1"></a>
					<a href="#" class="js-switchSlide main_slider_navigation right" data-index="3"></a>
				</div>
			</div>
			<div class="bg bg-img-3" style="background-image:: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #dbece5); background-image: url('/img/bg-images/bg-main.png')">
				<div class="container">
					<a href="#" class="js-switchSlide main_slider_navigation left" data-index="2"></a>
					<a href="#" class="js-switchSlide main_slider_navigation right hide" data-index="1"></a>
				</div>
			</div>
		</div>

		<div class="slider_menu">
			<div class="container">
				<ul>
					<li class="slider_menu_item-wrapper current">
						<a class="slider_menu_item js-switchSlide" href="#" data-index="1"></a>
					</li>
					<li class="slider_menu_item-wrapper">
						<a class="slider_menu_item js-switchSlide" href="#" data-index="2"></a>
					</li>
					<li class="slider_menu_item-wrapper">
						<a class="slider_menu_item js-switchSlide" href="#" data-index="3"></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="slider_index_list">
			<div class="container">
				<span class="index_wrapper placeholder">
				</span>
				<span class="index_wrapper placeholder">
				</span>
				<span class="index_wrapper">
					<div class="img-wrapper">
						<img src="/img/icons/quote.svg" alt="">
					</div>
					<!-- <div class="index" style="position:relative;display:inline-block;">‘</div>
					<div class="index" style="position:relative;display:inline-block;">‘</div> -->
				</span>
			</div>
		</div>

		<div class="slider_title_list">
			<div class="container">
				<span class="title_wrapper main_slide current">
					<div class="title">“In Law we trust”</div>
				</span>
				<span class="title_wrapper list_services_slide">
					<div class="title">Мы консультируем и помогаем</div>
				</span>
				<span class="title_wrapper recomendation_slide">
					<div class="title">Нас рекомендуют</div>
				</span>
			</div>
		</div>

		<div class="slider_sign_list">
			<div class="container">
				<span class="slider_sign_wrapper main_slide current">
					<div class="slider_sign">Таков наш девиз. Мы верим в силу закона и умеем делать так, чтобы закон был на вашей стороне.</div>
				</span>
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_list.html" data-index="1">
									<span class="list-style-type">01</span>
									<span class="list-item-content">Семейные споры</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="2">
									<span class="list-style-type">02</span>
									<span class="list-item-content">Недвижимость: сопровождение и регистрация</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="3">
									<span class="list-style-type">03</span>
									<span class="list-item-content">Споры по недвижимости</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="4">
									<span class="list-style-type">04</span>
									<span class="list-item-content">Наследство</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="5">
									<span class="list-style-type">05</span>
									<span class="list-item-content">Разработка и экспертиза документов для суда</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="6">
									<span class="list-style-type">06</span>
									<span class="list-item-content">Договоры: разработка и правовая экспертиза</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="7">
									<span class="list-style-type">07</span>
									<span class="list-item-content">Защита прав потребителей</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="8">
									<span class="list-style-type">08</span>
									<span class="list-item-content">Миграционные споры</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="9">
									<span class="list-style-type">09</span>
									<span class="list-item-content">Взыскание долга</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="10">
									<span class="list-style-type">10</span>
									<span class="list-item-content">Арбитраж</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="11">
									<span class="list-style-type">11</span>
									<span class="list-item-content">Услуги иностранным гражданам</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="12">
									<span class="list-style-type">12</span>
									<span class="list-item-content">Трудовое право</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="13">
									<span class="list-style-type">13</span>
									<span class="list-item-content">Абонентское обслуживание</span>
								</a>
							</li>
							<li>
								<a href="/service_list.html" data-index="14">
									<span class="list-style-type">14</span>
									<span class="list-item-content">Консультации юриста</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				<span class="slider_sign_wrapper recomendation_slide">
					<div class="slider_sign">
						<div class="recommendation-item">
							<div class="recommendation-author">
								20 декабря 2016 | Кочин Александр, Генеральный директор компании «Стройплюс»
							</div>
							<div class="recommendation-title">
								Штраф ФМС
							</div>
							<div class="recommendation-description">
								ФМС назначила штраф 800 000 рублей. Даже для строительной компании – это неподъемная сумма. Планировали закрываться. Рады, что нашелся грамотный миграционный юрист, который снизил штраф в разы. Спасибо, Дело Чести!
							</div>
						</div>
					</div>
				</span>
			</div>
		</div>

		<div class="slider_link_list">
			<div class="container">
				<span class="slider_link_wrapper main_slide current">
					<a class="slider_link js-popupForm link_next" href="#">Получить консультацию юриста</a>
				</span>
				<span class="slider_link_wrapper list_services_slide placeholder">
					placeholder
				</span>
				<span class="slider_link_wrapper recomendation_slide">
					<a class="slider_link link_next" href="/about.html" data-mainslider="true">Ещё рекомендации</a>
				</span>
			</div>
		</div>

		<div class="slider_icon">
			<div class="container">
				<div class="img-wrapper">
					<img src="/img/icons/mouse-light.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>