<div class="popup popup-feedback-form">
	<div class="popup-outer"></div>
	<div class="popup-inner container">
		<a href="#" class="js-close">
			<img src="/img/icons/close.svg" alt="">
		</a>
		<div class="form-wrapper">
			<div class="form-title">
				Получить<br>консультацию юриста
			</div>
			<div class="form feedback">
				<div class="input-group">
					<div class="field-wrapper">
						<input class="field_name field_required" type="text">
						<div class="placeholder">Имя<span class="required">*</span></div>
						<div class="errorMessage"></div>
					</div>
					<div class="field-wrapper">
						<input class="field_email field_required" type="text">
						<div class="placeholder">Email<span class="required">*</span></div>
						<div class="errorMessage"></div>
					</div>
					<div class="field-wrapper">
						<input class="field_phone" type="text">
						<div class="placeholder">Телефон</div>
						<div class="errorMessage"></div>
					</div>
				</div>
				<div class="btn-wrapper">
					<a href="#" class="js-submit link_next">ОТПРАВИТЬ</a>
				</div>
			</div>
		</div>
		<div class="message hide">
		</div>
	</div>
</div>

<div class="popup popup-carousel">
	<div class="popup-outer"></div>
	<div class="popup-inner container">
		<a href="#" class="js-close">
			<img src="/img/icons/close.svg" alt="">
		</a>
		<div class="popup-body">
			<div class="js-slick_carousel"></div>
		</div>
	</div>
</div>