<div class="list_services_slider">
	<div class="slider_list">
		<div class="slider_bg_list">
			<div class="bg bg-img-1 current" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #dbece5); background-image: url('/img/bg-images/bg01.png')" data-index="1">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left hide"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-2" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #d0e7f2); background-image: url('/img/bg-images/bg02.png')" data-index="2">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-3" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #d5dadf); background-image: url('/img/bg-images/bg03.png')" data-index="3">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-4" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #dcd8e4); background-image: url('/img/bg-images/bg04.png')" data-index="4">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-5" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #d0eced); background-image: url('/img/bg-images/bg05.png')" data-index="5">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>

			<div class="bg bg-img-6" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #e9dce3); background-image: url('/img/bg-images/bg06.png')" data-index="6">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-7" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #f4e8d2); background-image: url('/img/bg-images/bg07.png')" data-index="7">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-8" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #d7e4f1); background-image: url('/img/bg-images/bg08.png')" data-index="8">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-9" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #f1e1d7); background-image: url('/img/bg-images/bg09.png')" data-index="9">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-10" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #f1e1d7); background-image: url('/img/bg-images/bg10.png')" data-index="10">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>

			<div class="bg bg-img-11" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #f0ecd3); background-image: url('/img/bg-images/bg11.png')" data-index="11">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-12" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #f0d9d9); background-image: url('/img/bg-images/bg12.png')" data-index="12">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-13" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #f1e1d7); background-image: url('/img/bg-images/bg13.png')" data-index="13">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right"></a>
				</div>
			</div>
			<div class="bg bg-img-14" style="background-image: radial-gradient(circle at 83% 44%, rgba(246, 249, 250, 0), #f1e1d7); background-image: url('/img/bg-images/bg14.png')" data-index="14">
				<div class="container">
					<a href="#" class="js-switchSlide arrow left"></a>
					<a href="#" class="js-switchSlide arrow right hide"></a>
				</div>
			</div>
		</div>
		<div class="slider_menu_static">
			<div class="container">
				<ul>
					<li class="slider_menu_item-wrapper">
						<a class="slider_menu_item" href="/index.html" data-index="1"></a>
					</li>
					<li class="slider_menu_item-wrapper active">
						<a class="slider_menu_item" href="/index.html" data-index="2"></a>
					</li>
					<li class="slider_menu_item-wrapper">
						<a class="slider_menu_item" href="/index.html" data-index="3"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="slider_index_list">
			<div class="container">
				<span class="index_wrapper current">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">1</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">2</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">3</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">4</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">5</div>
				</span>

				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">6</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">7</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">8</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">0</div>
					<div class="index" style="position:relative;display:inline-block;">9</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">1</div>
					<div class="index" style="position:relative;display:inline-block;">0</div>
				</span>

				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">1</div>
					<div class="index" style="position:relative;display:inline-block;">1</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">1</div>
					<div class="index" style="position:relative;display:inline-block;">2</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">1</div>
					<div class="index" style="position:relative;display:inline-block;">3</div>
				</span>
				<span class="index_wrapper">
					<div class="index" style="position:relative;display:inline-block;">1</div>
					<div class="index" style="position:relative;display:inline-block;">4</div>
				</span>
			</div>
		</div>
		<div class="slider_title_list">
			<div class="container">
				<span class="title_wrapper current">
					<div class="title">Семейные споры</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Недвижимость: сопровождение и регистрация</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Споры по недвижимости</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Наследство</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Разработка и экспертиза документов для суда</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Договоры: разработка и правовая экспертиза</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Защита прав потребителей</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Миграционные споры</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Взыскание долга</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Арбитраж</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Услуги иностранным гражданам</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Трудовое право</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Абонентское обслуживание</div>
				</span>
				<span class="title_wrapper">
					<div class="title">Консультации юриста</div>
				</span>
			</div>
		</div>

		<div class="slider_link">
			<div class="container">
				<div class="breadcrumbs">
					<a href="/blog.html" class="link_next">Успешные дела</a>
					<a href="/blog.html" class="link_next">Статьи по теме</a>
				</div>
			</div>
		</div>

		<div class="slider_sign_list">
			<div class="container">
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Бракоразводный процесс</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Бракоразводный процесс с иностранным гражданином</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Бракоразводный процесс и алименты</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Бракоразводный процесс и раздел имущества</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Бракоразводный процесс , алименты и раздел имущества</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Бракоразводный процесс и спор о детях</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Бракоразводный процесс без участия сторон</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Раздел имущества в гражданском браке</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание алиментов</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Изменение размера алиментов</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Лишение родительских прав</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Установление отцовства/материнства/родства</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Установление отцовства и взыскание алиментов</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Оспаривание отцовства/материнства/родства</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Установление родства с дальнейшим вступлением в наследство</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Определение места жительства ребенка</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Определение порядка общения с ребенком</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Судебный процесс по усыновлению (удочерению)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Досудебное урегулирование спора (переговоры с супругом)</span>
								</a>
							</li>
						</ul>
					</div>
				</span>

				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Сопровождение сделки купли-продажи квартиры</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Сопровождения сделки купли-продажи загородной недвижимости</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Сопровождение сделки купли-продажи комнаты/доли в квартире</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Сопровождение сделки купли-продажи земельного участка</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Сопровождение сделки долевого участия (ДДУ)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Сопровождение расчетов (банковская ячейка/аккредитив)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Сопровождение сделки при участии органов опеки и попечительства</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Сопровождение сделки дарения (квартира, дом, земля, доля в собственности)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Регистрация договора купли-продажи в Москве и Московской области</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Регистрация договора дарения в Москве и Московской области</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Регистрация договора аренды в Москве и Московской области</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Регистрация обременений на объект недвижимости в Москве и Московской области (залог, арест, аренда, рента)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Снятие обременений на объект в Москве и Московской области (залог, арест, аренда)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Экспертиза юридической чистоты сделки (объект недвижимости + договор)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Выезд юриста на сделку</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Разработка договора и акта передачи имущества (дарение, аренда, найм, купля- продажа)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Экспертиза договора передачи имущества (дарение, аренда, найм, купля-продажа)</span>
								</a>
							</li>
						</ul>
					</div>
				</span>

				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Оспаривание сделок купли-продажи недвижимости в Москве и Московской области</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Оспаривание сделки дарения недвижимости в Москве и Московской области</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Оспаривание договора ренты в Москве и Московской области</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Расторжение договора через суд (дарение, купля-продаже, аренда)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Выделение доли в жилом помещении</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Возмещение ущерба, причиненного затоплением квартиры</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание арендной платы и коммунальных платежей</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Выселение из квартиры через суд</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Вселение в квартиру через суд.</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Снятие с регистрационного учета через суд</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Постановка на регистрационный учет через суд</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Признание доли в праве собственности малозначительной</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Признание права собственности в связи с приобретательной давностью</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Споры, связанные с договором социального найма</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Истребование недвижимости из чужого незаконного владения</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Утрата права пользования объектом недвижимости</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Снятие обременения с недвижимости через суд (аренда, ипотека, рента, арест)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Снижение кадастровой стоимости через Росреестр</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Снижение кадастровой стоимости через суд</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Ведение наследственного дела</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Восстановление сроков вступления в наследство через суд</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Установление факта родства для вступления/оспаривания в наследство</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Объявление умершим</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Споры по наследству</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Оспаривание завещания</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Раздел наследственного имущества</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Признание наследника недостойным</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Наложение ареста на недвижимость</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Установление юридического факта</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Разработка завещания</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Юридическая экспертиза завещания</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Споры по фактическому принятию наследства</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Исковое заявление</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Апелляционная жалоба</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Кассационная жалоба</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Надзорная жалоба</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Возражение на исковое заявление</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Отзыв на исковое заявление</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Ходатайства в суд</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Жалоба председателю суда</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Жалоба в квалификационную коллегию судей</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Трудовой договор</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор купли продажи транспортного средства</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор купли продажи квартиры</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор дарения</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор инвестирования</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор подряда</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договора аренды</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор найма</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор поручения</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор оказания услуг</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Договор поставки</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Агентский договор</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Контракт с иностранным юридическим лицом (внешнеторговый контракт)</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Взыскание вреда, причиненного врачебной ошибкой</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Возврат автомобиля</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание со страховой компании</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Обжалование выдворения из России</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Обжалование депортации из России</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Обжалование нежелательности пребывания в РФ</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Снятие запрета на въезд в Россию</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Штраф ФМС (ГУ по вопросам миграции МВД)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Выдворить за пределы РФ</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Составить заявление о снятии запрета на въезд</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Составить апелляционную жалобу на постановление о выдворении</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Запрос в ФМС (ГУ по вопросам миграции МВД) для уточнения причин, срока и инициатора запрета</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Получение убежища в РФ</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Досудебное урегулирование спора (претензия + соглашение о погашении задолженности)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга по расписке</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга по договору аренды</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга по договору поставки</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга по гарантийному письму</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга вследствие неосновательного обогащения</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга по договору долевого участия</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга со страховой компании</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга с виновника ДТП</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга по государственному контракту</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга ДДУ</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание морального вреда</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Арест имущества в процессе взыскания долгов</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Оспаривание сделки (должник избавился от имущества)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга по иному документу</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Разработка искового заявления</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Оспаривание договора цессии</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Наложение обеспечительных мер</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Взыскание долга</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Спор с государственным органом</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Третейский суд</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Корпоративные споры</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Оспаривание сделок</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Признание договора заключенным</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Установление юридического факта</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Иск в арбитраж</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Возражение на иск</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Обеспечительные меры</span>
								</a>
							</li>
						</ul>
					</div>
				</span>

				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Открытие въезда на территорию РФ</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Оформление разрешение на привлечение иностранной рабочей силы</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Сопровождение сделки с недвижимостью (покупка, продажа, найм)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Расторжение брака с иностранным гражданином</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Отмена штрафа для снятия запрета на въезд</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Усыновление/удочерение иностранным гражданином</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Создание бизнеса в России (создание юридического лица, открытие расчетного счета, получение разрешения о привлечении странной рабочей силы, разработка бизнес-пакета)</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Юридическое сопровождение бизнеса в РФ</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Восстановление на работе</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание заработной платы</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Взыскание среднего заработка за вынужденный прогул</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Физические лица</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Юридические лица</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Программа внештатный юрист для компаний</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
				
				<span class="slider_sign_wrapper list_services_slide">
					<div class="slider_sign">
						<ul>
							<li>
								<a href="/service_page.html">
									<span>Устная юридическая консультация</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Письменная юридическая консультация</span>
								</a>
							</li>
							<li>
								<a href="/service_page.html">
									<span>Выездная устная юридическая консультация</span>
								</a>
							</li>
						</ul>
					</div>
				</span>
			</div>
		</div>

		<div class="slider_link bottom">
			<div class="container">
				<div class="breadcrumbs">
					<a href="/index.html" class="link_back" data-index="2">Все услуги</a>
				</div>
			</div>
		</div>

		<div class="slider_icon">
			<div class="container">
				<div class="img-wrapper">
					<img src="/img/icons/mouse-dark.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>