<footer class="footer">
	<div class="container">
		<div class="row links">
			<div class="col-xs-12 col-sm-12 col-lg-2">
				<a href="/" class="brand btn-hover">
					<img src="/img/icons/logo-footer.svg" alt="">
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-lg-8">
				<ul class="navigation">
			        <li><a href="skype:+74958121188?call">+7 (495) 812-11-88</a></li>
			        <li><a href="mailto:hello@delo4.com">hello@delo4.com</a></li>
			        <li><a href="/contacts.html">Москва, Лесная 3, офис 101</a></li>
			    </ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-lg-2">
				<div class="social">
					<a class="social_item" target="_blank" href="https://www.facebook.com/"><img src="/img/icons/fb.svg" alt=""></a>
					<a class="social_item" target="_blank" href="https://www.vk.com/"><img src="/img/icons/twitter.svg" alt=""></a>
					<a class="social_item" target="_blank" href="https://twitter.com/"><img src="/img/icons/vk.svg" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</footer>