<div class="header" id="header">
	<nav class="navbar navbar-fixed-top">
	  	<div class="container">
		    <div class="navbar-header">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <img src="/img/icons/mob-menu.svg">
		      	</button>
		      	<a class="navbar-brand " href="/">
		      		<img src="/img/icons/logo.svg" alt="">
	      		</a>
		    </div>
		    <nav class="navbar-collapse collapse" id="bs-navbar">
		    	<ul class="nav navbar-nav">
					<li class="active"><a class="" href="/about.html">О компании</a></li>
					<li><a class="js-switchSlide" href="/" data-index="2" data-pathname="/">Услуги</a></li>
					<li><a class="" href="/blog.html">Блог</a></li>
					<li><a class="" href="/contacts.html">Контакты</a></li>
					<li><a href="skype:+74958121188?call">+7 (495) 812-11-88</a></li>
		    	</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="social_item" target="_blank" href="https://www.facebook.com/"><img src="/img/icons/fb.svg" alt=""></a></li>
					<li><a class="social_item" target="_blank" href="https://twitter.com/"><img src="/img/icons/twitter.svg" alt=""></a></li>
					<li><a class="social_item" target="_blank" href="https://www.vk.com/"><img src="/img/icons/vk.svg" alt=""></a></li>
					<li><a class="" href="/error-page.html">eng</a></li>
				</ul>
			</nav>
		</div>
	</nav>
</div>